.banner-principal-decorativo
  &-1
    animation: float1 3.1s ease-in-out infinite alternate
    position: absolute
    top: 35%
    right: 79%
    width: 85px
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: 11%
    width: 85px
  &-3
    animation: float1 3.7s ease-in-out infinite alternate
    position: absolute
    top: 60%
    right: 15%
    width: 85px
@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  

.banner-principal .tarjeta
  background-position: left 50% !important
.banner-principal__row .banner-principal__img
  width: 450px !important  
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important   
.banner-interno__titulo__icono i
  color: $color-primario
figcaption
  font-weight: normal
.glosario__letra-item__texto i
  display: none


.fa-lista
  li
    display: flex !important
  li:before
    position: relative
    margin-right: 7px
    font-size: 1.4rem 
.lista-ul--color.color-primario li > i:first-of-type  
  color: $color-primario
.lista-ul--color.color-secundario li > i:first-of-type  
  color: $color-secundario       
.lista-ol--cuadro.color-primario .lista-ol--cuadro__vineta
  background-color: $color-primario
.bg-color-acento-contenido
  background-color: $color-acento-contenido
.w-fit
  width: fit-content
.br-10
  border-radius: 10px
.br-50
  border-radius: 50px
.back-filter
  backdrop-filter: blur(10px)
  background-color: #ffffff1f
  &--t1
    height: 95%
    align-items: center
    display: flex
.z-999
  z-index: 999


.bgc-1
  background-image: url('../assets/curso/temas/intro/bgc.png')
  background-position: top
  background-size: 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: cover 
  @media screen and (max-width: 767px)
    margin-inline: -1.4rem  
    background-size: cover 
.bgc-2
  background-image: url('../assets/curso/temas/t2/bgc.png')
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: cover 
  @media screen and (max-width: 767px)
    margin-inline: -1.4rem  
    background-size: cover 
.bg-1
  background-image: url('../assets/curso/temas/t1/bg1.png')
  background-position: top
  background-size: cover
  background-repeat: no-repeat
.bg-2
  background-image: url('../assets/curso/temas/t1/bg2.png')
  background-position: top
  background-size: cover
  background-repeat: no-repeat
.bg1
  background-color: #C6E5E6
.bg2
  background-color: #EEF3EA
.bg3
  background-color: #E2F2F3
.bg4
  background-color: #FFF5E2
.bg5
  background-color:#9FC2B5
.bg6
  background-color:#EFFAF4
.bg7
  background-color:#5A999B
.bg8
  background-color: #DAF2E4

.lin-decor
  height: 6px
  width: 42px
  background-color: #2E4E1C

.subt
  display: flex
  position: relative
  align-items: center
  width: fit-content
  padding-right: 10px 
  img
    width: 60px
    z-index: 999
  h3 
    color: #fff
    width: fit-content
    padding: 2px 15px
    z-index: 999
  &::before
    content: ''
    position: absolute
    width: 100%
    height: 75%
    background-color: $color-acento-contenido
    border-radius: 50px
    z-index: 0

.bg3.acordion__activo
  background-color: #B8CCAB
.bg-tarj-t1
  background-color: #DAF2E4
  background-image: url('../assets/curso/temas/t1/bg-tarj.png')
  background-repeat: no-repeat
  background-size: cover
  cursor: inherit
  &:hover
    background-color: #C6E5E6 !important
.circl-arrow .slyder-f__btn i
  font-size: 1.2rem
  background-color: $color-acento-botones
  color: $white
  height: 46px
  width: 46px
  padding: 5px
  border-radius: 500px
  display: flex
  justify-content: center
  align-items: center    
.tabs-a
  .row .col-lg-4.col-xl-3 .row .col-sm-6.col-lg-12.mb-3
    margin-bottom: 0.3rem !important
  &__tab
    background-color: #0F6646
    color: #FFF
    white-space: normal
    &__text
      overflow: inherit
      text-overflow: inherit

.t1-cont
  z-index: 999
.t1-bloque    
  position: relative
  img, p
    z-index: 999
  &::before
    content: ''
    position: absolute
    background-color: #E2F2F3
    width: 50%
    height: 100%
    right: -30%
    z-index: 0
    @media (max-width: $bp-max-xs)
      display: none
.borde-t2
  border: 1px solid #EAEBED
.t3
  .tarjeta.color-primario
    position: relative
    &::before
      content: ''
      position: absolute
      width: 80px
      height: 80px
      background-image: url('../assets/curso/temas/t3/adorn1.svg')
      background-size: contain
      background-repeat: no-repeat
      top: 20px
      right: 20px
      z-index: 0
  .tarjeta.color-secundario
    position: relative
    &::before
      content: ''
      position: absolute
      width: 80px
      height: 80px
      background-image: url('../assets/curso/temas/t3/adorn2.svg')
      background-size: contain
      background-repeat: no-repeat
      top: 20px
      right: 20px
      z-index: 0
  &--1
    position: relative
    &::before
      content: ''
      position: absolute
      width: 62px
      height: 60px
      background-image: url('../assets/curso/temas/t3/adorn3.svg')
      background-size: contain
      background-repeat: no-repeat
      top: -20px
      right: -20px
      @media (max-width: $bp-max-md)
        width: 52px
        height: 50px

/* Tema 2 */      
.cursor-pointer.crd_hover_txt
  cursor: pointer
.crd_hover_txt
  position: relative  
  padding: 0 !important
  overflow: hidden !important  
  border-radius: 20px
  &:hover    
    .crd_hover_txt--body   
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1) 
      transform: translateY(0)
      padding: 1.5rem !important
      background-color: #B8CCAB
      h4
        color: $color-sistema-texto
  .crd_hover_txt--body
    position: absolute
    padding: 1.5rem
    bottom: 0    
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
    transform: translateY(calc( 100% - 3.85rem ))
    background-color: #4D812E
    h4
      color: #FFF
  @media (min-width:1200px) and (max-width:1400px)  
    .crd_hover_txt--body
      p
        font-size: 0.85em